menu "## Blink Configuration"

    config BLINK_GPIO_1
        int "Blink GPIO number 1"
        range 0 34
        default 5
        help
            GPIO number (IOxx) to blink on and off.

            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

            GPIOs 35-39 are input-only so cannot be used as outputs.

    config BLINK_GPIO_2
        int "Blink GPIO number 2"
        range 0 34
        default 5
        help
            GPIO number (IOxx) to blink on and off.

            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

            GPIOs 35-39 are input-only so cannot be used as outputs.
endmenu

menu "## Task Configuration"

    config BLINK_TASK_0_STACKSIZE
        int "Blink: Task 0 stack size"
        range 1000 2048
        default 1792
        help
            Stack size for task 0.

    config BLINK_TASK_1_STACKSIZE
        int "Blink: Task 1 stack size"
        range 1000 2048
        default 1792
        help
            Stack size for task 1.

endmenu
